<div class="fpo">
    <h1>{{{name}}}: <em>v{{pkg.version}}</em></h1>
    <h2>{{{pkg.description}}}</h2>

    <ul>
        {{#components}}
        <li>
            <a href="{{{url}}}">{{{name}}}</a>
        </li>
        {{/components}}
    </ul>
</div>